<%- include('app_partials/header')%> 
    <h3>Total Rides Published: <%= ridesPublished.length %> </h3>
    <ul>
        <% for(var i=ridesPublished.length - 1 ;i>=0;i--){ %>
            <div class="card">
                <h5 class="card-header"><%= ridesPublished[i].starting %>  -> <%= ridesPublished[i].going %> </h5>
                <div class="card-body">
                  <h5 class="card-title">Published on <%= ridesPublished[i].date %></h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/rides/<%= ridesPublished[i]._id %> " class="btn btn-primary">See Details</a>
                </div>
              </div>
        <% } %> 
    </ul>
<%- include('app_partials/footer') %> 