<%- include('app_partials/header')%> 
    <p>
        <%= starting %> -> <%= going %> : <br>
        <%=rideItems.length %> rides available.
    </p>
    <% if(rideItems.length!=0) {%>
        <%for(let i =0;i<rideItems.length;i++){ %>
            <div class="card">
                <h5 class="card-header"><%= starting %> -> <%= going %></h5>
                <div class="card-body">
                  <h6 class="card-title">Published By : <%= rideItems[i].ownerName %></h6>
                  <a href="/rides/<%= rideItems[0]._id %> " class="btn btn-primary"> Book Now</a>
                </div>
              </div>
        <% } %>
    <% } %> 
<%- include('app_partials/footer') %> 