<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <%= starting %> -> <%= going %> : <br>
        <%=rideItems.length %> rides available.
    </p>
    <% if(rideItems.length!=0) {%>
        <ul>
        <%for(let i =0;i<rideItems.length;i++){ %>
            <a href="/rides/<%= rideItems[0]._id %> " role="button">
                <li><%= rideItems[i].starting %>  -> <%= rideItems[i].going %> </li>
            </a>
        <% } %> 
        </ul>
    <% } %> 
</body>
</html>